@import url(./globals.css);
.card{
    display: flex;
    flex-direction: row;
    background-color: var(--Primary-Color);
    border: none; 
    border-radius: 10px;
}

.search{
    margin-bottom: 20px;
    border: 2px var(--Primary-Color) solid;
    border-radius: 50px;
    padding: 5px 30px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: var(--Primary-Color);
}
.search input{
    width:90%;
    border: 0;
    font-size: large;
    color: var(--Primary-Color);
}
.search i{
    font-size: x-large;
    
}

.course_list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: auto;
    max-height: 80vh;
    padding-right: 10px;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

.course_list.dragging{
    cursor: grabbing;
}

.course_info{
    display: inherit;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: var(--textFont);
    color: var(--Primary-Color);
    border: 1px white solid;
}

.course_image{
    width: 15%;
    
}

.course_info, .action{
    background-color: white;
    height: 100%;
}

.course_info{
    padding: 20px;
    border-radius: 0px 10px 10px 0;
}
.course_name li, .course_duration li, .training_mode li{
    text-align: left;
    justify-content: left;
    padding: 0px;
    font-family: var(--headerFont);
    display: inherit;
    
}

.action{
    padding: 10px;
}

.action button{
    padding: 10px 60px;
    border-radius: 10px;
    border: 1px var(--Primary-Color) solid;
    color: var(--Primary-Color)

}

.action > :first-child{
    margin-bottom: 10px;
    background-color: var(--Primary-Color);
    color: white;
    border: none;
}

.action > :first-child:hover{
    margin-bottom: 10px;
    background-color: var(--Primary-Color);
    color: white;
    border: none;
}

li p{
    margin: 0;
}

.course_name{
    width: 30%;
}

.course_duration ul > :first-child{
    margin-bottom: 10px;
}

.name{
    font-family: var(--textFont) !important;
    font-size: small;
}

.training_mode{
    width: 20%;
}

.action{
    height: 100%;
    display: inherit;
    flex-direction: column;
    justify-content: center;
}


/* Side Part(Filter) */
.add_course{
    width: 100%;
    padding: 20px 0px 20px 0px;
    background-color: var(--Primary-Color);
    border-radius: 50px;
    font-family: var(--headerFont);
    color: white;
    font-size: large;
    margin-bottom: 1rem;
}

.filter_header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.filter_header button{
    background-color: transparent;
    border-radius: 50px;
    padding: 5px 30px 5px 30px;
    height: 10%;

}

.filter_catergory{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.filter_catergory p{
    color: var(--Primary-Color);
    font-family: var(--headerFont);
}

.filters form button{
    width: 100%;
    padding: 10px 0px;
    border-radius: 50px;
    font-family: var(--textFont);
    border: var(--Primary-Color) solid 2px;
    color: var(--Primary-Color);
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.filters form button:hover{
    color: white;
    background-color: var(--Primary-Color);
}
