@import url(./globals.css);

@media only screen and (min-width: 480px) and (max-width: 1024px){ 
header{
    position: sticky !important;
    top: 0px !important;
    z-index: 100; 
}

    main{
    padding: 0.938rem;
    width: 100vw !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .Center, main .Side{
    width: 100% !important;
}


h1{
    font-family: var(--headerFont);
    color: var(--Primary-Color);
    font-size: large !important;
}

article{
    display: flex;
    flex-direction: column !important;

}}
@media only screen and (min-width: 320px) and (max-width: 480px){
    html, body{
        flex-direction: column !important;
    }

    .users{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        top: 0px;
        padding: 1.25rem !important;
        width: 40%;
    }
    .users li i{
        font-size: x-large;
    }

    .logo{
        margin-left: 1.25rem !important;
    }

    header{
        width: 100%;
        height: 10vh;
        padding: 0px !important;
        /* border: red 1px solid; */
        display: flex;
        justify-content: space-between;
    }

    nav{
        position: fixed !important;
        bottom: 0px;
        height: auto !important;
        width: 100%;
        border-radius: 3.125rem 3.125rem 0rem 0rem !important;
        /* border: rebeccapurple 1px solid; */
        padding: 0.625rem 1.25rem !important;
    }

    .Navigations{
        display: flex !important;
        flex-direction: row;
        justify-content: space-around;
    }

    .Navigations li i{
        font-size: x-large !important;

    }
    main{
        padding: 0.938rem;
        width: 100vw !important;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    main .Center, main .Side{
        width: 100% !important;
    }


    h1{
        font-family: var(--headerFont);
        color: var(--Primary-Color);
        text-align: center;
        font-size: large !important;
    }

    article{
        display: flex;
        flex-direction: column !important;
    
    }
}

html, body{
    height: 100vh;
    width: 100vw;
    background-color: var(--DashboardBackground-Color);
    display: flex;
    flex-direction: row;
}

h1{
    font-family: var(--headerFont);
    color: var(--Primary-Color);
}

header{
    display: inherit;
    align-items: center;
    padding: 0.625rem;
}

nav{
    background-color: white;
    padding: 0.625rem;
    height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 3.125rem;

}

ul{
    list-style: none;
    padding: 0.625rem;
    margin: 0;
    
}

li{
    padding: 0.625rem 0px;
    display: flex;
    justify-content: center;
}

li i{
    font-size: 1.25rem;
    color: var(--Unactive-Color);
    transition: color, 0.2s;
}

.users li img{
    width: 1.875rem;
    border-radius: 3.125rem;
}

.users .active{
    display: inline-block;
}

.account_setting{
    bottom: 2.5rem;
}

.account_setting_options{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.account_setting_options li:nth-child(4){
    width: 105%;
    align-self: center;
}

.account_setting_options li .divider{
    height: 1px;
    background-color: white;
    width: 100%;
    border-radius: 50px;
}

.account_setting_options li{
    width: 100%;
    gap: 15px;
    justify-content: space-between;
    transition: 0.5 ease;
    color: var(--Unactive-Color);
}

.account_setting_options .option:hover{
    color: white;
    cursor: pointer;
}

.account_setting_options .option:hover i{
    color: white;
}

.Navigations i:hover, .users i:hover{
    cursor: pointer;
    color: var(--Primary-Color);
}

li .label{
    display: none;
    font-family: var(--textFont);
    background-color: hsl(0, 0%, 20%);
    color: white;
    font-size: small;
    padding: 0.313rem;
    border-radius: 0.313rem;
    position: fixed;
    left: 4.375rem;
    z-index: 1;
}

.label a{
    text-decoration: none;
}

.logo{
    height: auto;
    width: 1.875rem;
}

main{
    width: 98%;
    padding: 10px 20px 10px 10px;;
}

article{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 90%;
}
main .Center{
    height: auto;
    width: 75%;
}

.Center .announcement, .calendar{
    background-color: white;
    width: 100%;
    height: 15.625rem;
    border-radius: 0.625rem;
    margin-bottom: 1.25rem;
}

.announcement{
    padding: 0.625rem;
    height: auto;
    box-sizing: border-box
}

.announcement p{
    margin-bottom: 10px;
    padding: 0;
    font-family: var(--headerFont);
    font-size: medium;
    color: var(--Primary-Color);
}

.announcement .content{
    height: 84%;
    border-radius: 0.625rem;
}

.carousel-inner{
    height: 100%;
    width: auto;
    border-radius: 0.625rem;
}

.carousel-item{
    height: 100%;
    width: 100%;
}

.carousel-item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.Center_Content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Center_Content .panel{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    width: 49%;
}

.Center_Content .panel img{
    width: 100%;
}

.status{
    background-color: white;
    padding: 0.625rem;
    height: 103px;
    margin-bottom: 0.625rem;
    border-radius: 0.625rem;
}

main .Side{
    height: auto;
    width: 23%;
}

.status{
    display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: 30px;
}
.status .panel img{
    width: 100%;
}

.status .panel{
    width: 70%;
}