@import url(./globals.css);

.search{
    margin-bottom: 20px;
    border: 2px var(--Primary-Color) solid;
    border-radius: 50px;
    padding: 5px 30px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: var(--Primary-Color);
}
.search input{
    width:90%;
    border: 0;
    font-size: large;
    color: var(--Primary-Color);
}
.search i{
    font-size: x-large;
    
}

table{
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 10px;
    font-family: var(--textFont);
    color: var(--Primary-Color);
}

.headers{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 20px;
}
.headers p{
    margin: 0px;
}
.headers i{
    cursor: pointer;
}


.entry{
    background-color: white;
}

.entry td{
    padding: 20px 0px;
    margin-bottom: 10px;
    font-size: small;

}

.entry td:first-child{
    border-radius: 10px 0px 0px 10px;
    padding: 20px;
}

.entry td:last-child{
    border-radius: 0px 10px 10px 0px;
    padding: 20px;
    text-align: end;
}

.entry td:last-child button{
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 10px;
    border: var(--Primary-Color) 1px solid;
    color: var(--Primary-Color);
    transition: 0.5s ease;
}

.entry td:last-child button:hover{
    background-color: var(--Primary-Color);
    color: white;
}

/* Side Filter css */
.add_user{
    width: 100%;
    padding: 20px 0px 20px 0px;
    background-color: var(--Primary-Color);
    border-radius: 50px;
    font-family: var(--headerFont);
    color: white;
    font-size: large;
    margin-bottom: 1rem;
}

.filter_header{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.filter_header button{
    background-color: transparent;
    border-radius: 50px;
    padding: 5px 30px 5px 30px;
    height: 10%;
    border: 1px var(--Unactive-Color) solid;
    color: var(--Unactive-Color);
}

.filter_catergory{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.filter_catergory p{
    color: var(--Primary-Color);
    font-family: var(--headerFont);
}

.filters form button{
    width: 100%;
    padding: 10px 0px;
    border-radius: 50px;
    font-family: var(--textFont);
    border: var(--Primary-Color) solid 2px;
    color: var(--Primary-Color);
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.filters form button:hover{
    color: white;
    background-color: var(--Primary-Color);
}
